In [1]:
import pandas as pd
call = pd.read_csv(r"C:\Users\mk744\Downloads\Akshit call id 4 4Dec.csv")

In [2]:
import warnings
warnings.filterwarnings('ignore')
# Concatenate the function call string with Unique_Id
call['Concatenated'] = "call add_akshit_amazon_points('" + call['Transaction Id'].astype(str) + "');"
# Display the new column with concatenated results
call_id = call[['Concatenated']]
# ans.to_excel('Akshit_Amazon.xlsx', index=False)
print(call_id.to_string(index=False))
call_id.shape

                              Concatenated
call add_akshit_amazon_points('22734931');
call add_akshit_amazon_points('22735235');

(2, 1)

In [2]:
import pandas as pd
import random

# Generate data
data = {
    "Student_ID": [f"S{str(i).zfill(3)}" for i in range(1, 51)],
    "Subject": random.choices(["Math", "Science", "English", "History"], k=50),
    "Question_ID": [f"Q{random.randint(1, 20)}" for _ in range(50)],
    "Difficulty_Level": random.choices(["Easy", "Medium", "Hard"], k=50),
    "Correct_Response": [random.randint(0, 1) for _ in range(50)],
    "Time_Taken": [round(random.uniform(10, 300), 2) for _ in range(50)],
}

# Create a DataFrame
df = pd.DataFrame(data)

# Display the first few rows of the generated dataset
df.to_excel("Item_analysis.xlsx", index=False)

# EUR

In [32]:
5.669 * 89.34

506.46846

# USD

In [34]:
import math
int(math.ceil(84.71 * 26.4246))

2239

In [39]:
int(math.floor(117.69999999999999*1000))

117699

# SGD

In [29]:
int(math.ceil(63.14 * 14.3457))

906

# MYR

In [14]:
18.96130 * 3.906

74.06283780000001

In [18]:
import math
int(math.ceil(87277.30597 + 3035.07666 + 74.06283780000001 +15093.93))

105481

# zl

In [8]:
import math
int(math.ceil(11.72 * 20.73))

243

In [9]:
import math
int(math.ceil(25629.18 + 36387.2886 + 72852.29419999999+243))

135112

In [11]:
4624.61+214.63+496.51+858.21

6193.96

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {"State":['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware'],
        "Population":[4779736,  710231, 6392017, 2915918, 37253956, 5029196, 3574097, 897934], 
        "Murder_rate":[5.7, 5.6, 4.7, 5.6, 4.4, 2.8, 2.4, 5.8]}

In [3]:
df = pd.DataFrame(data)
df

         State  Population  Murder_rate
0      Alabama     4779736          5.7
1       Alaska      710231          5.6
2      Arizona     6392017          4.7
3     Arkansas     2915918          5.6
4   California    37253956          4.4
5     Colorado     5029196          2.8
6  Connecticut     3574097          2.4
7     Delaware      897934          5.8

In [7]:
Mean = ((df['Population'].mean()))
Mean

7694135.625

In [9]:
Median = df['Population'].median()
Median

4176916.5

In [11]:
from scipy.stats import trim_mean
trim_percentage = 0.1  # 10%
trimmed_mean = trim_mean(df['Population'], proportiontocut=trim_percentage)

trimmed_mean

7694135.625

In [18]:
from openpyxl import Workbook
from openpyxl.styles import Alignment, Font

# Create a new workbook and select the active worksheet
wb = Workbook()
ws = wb.active

# Set the title row
title = "ITEM TEST (DISCRIMINATION INDEX)"
ws.merge_cells("A1:E1")
ws["A1"].value = title
ws["A1"].alignment = Alignment(horizontal="center", vertical="center")
ws["A1"].font = Font(bold=True, size=14)

# Set column headers
headers = ["Sr. No", "UC/LC", "Calculation", "Result", "Status"]
ws.append(headers)

# Align and format headers
for col in range(1, len(headers) + 1):
    cell = ws.cell(row=2, column=col)
    cell.alignment = Alignment(horizontal="center", vertical="center")
    cell.font = Font(bold=True)

# Data to populate the sheet
data = [
    (1, "UC 4/4\nLC 4/4", "1-1=0", 0, "INCLUDE"),
    (2, "UC 4/4\nLC 3/4", "1-0.75=0.25", 0.25, "INCLUDE"),
    (3, "UC 0/4\nLC 1/4", "0.25-0=0.25", 0.25, "DISCARD"),
    (4, "UC 0/4\nLC 1/4", "0.25-0=0.25", 0.25, "DISCARD"),
    (5, "UC 0/4\nLC 0/4", "0-0=0", 0, "INCLUDE"),
    (6, "UC 0/4\nLC 0/4", "0-0=0", 0, "INCLUDE"),
    (7, "UC 2/4\nLC 0/4", "0-0.5=0.5", 0.5, "REVISE"),
    (8, "UC 4/4\nLC 2/4", "1-0.5=0.5", 0.5, "INCLUDE"),
    (9, "UC 2/4\nLC 1/4", "0.25-0.5=0.25", 0.25, "INCLUDE"),
    (10, "UC 2/4\nLC 2/4", "0.5-0.5=0", 0, "INCLUDE"),
    (11, "UC 2/4\nLC 1/4", "0.25-0.5=0.25", 0.25, "REVISE"),
    (12, "UC 2/4\nLC 1/4", "0.25-0.5=0.25", 0.25, "REVISE"),
    (13, "UC 4/4\nLC 0/4", "1-0=1", 1, "INCLUDE"),
    (14, "UC 4/4\nLC 1/4", "1-0.25=0.75", 0.75, "INCLUDE"),
    (15, "UC 2/4\nLC 3/4", "0.75-0.5=0.25", 0.25, "INCLUDE"),
    (16, "UC 3/4\nLC 2/4", "0.5-0.75=0.25", 0.25, "REVISE"),
    (17, "UC 2/4\nLC 2/4", "0.5-0.5=0", 0, "INCLUDE"),
    (18, "UC 2/4\nLC 1/4", "0.25-0.5=0.25", 0.25, "INCLUDE"),
    (19, "UC 1/4\nLC 0/4", "0.25-0=0.25", 0.25, "INCLUDE"),
    (20, "UC 2/4\nLC 1/4", "0.25-0.5=0.25", 0.25, "INCLUDE"),
    (21, "UC 2/4\nLC 3/4", "0.75-0.5=0.25", 0.25, "INCLUDE"),
    (22, "UC 3/4\nLC 4/4", "1-0.75=0.25", 0.25, "INCLUDE"),
    (23, "UC 2/4\nLC 3/4", "0.75-0.5=0.25", 0.25, "INCLUDE"),
]

# Add data to the sheet
for row_idx, (sr_no, uc_lc, calculation, result, status) in enumerate(data, start=3):
    ws.cell(row=row_idx, column=1, value=sr_no).alignment = Alignment(horizontal="center", vertical="center")
    ws.cell(row=row_idx, column=2, value=uc_lc).alignment = Alignment(horizontal="center", vertical="center", wrap_text=True)
    ws.cell(row=row_idx, column=3, value=calculation).alignment = Alignment(horizontal="center", vertical="center")
    ws.cell(row=row_idx, column=4, value=result).alignment = Alignment(horizontal="center", vertical="center")
    ws.cell(row=row_idx, column=5, value=status).alignment = Alignment(horizontal="center", vertical="center")

# Set column widths for better readability
ws.column_dimensions["A"].width = 8
ws.column_dimensions["B"].width = 15
ws.column_dimensions["C"].width = 15
ws.column_dimensions["D"].width = 10
ws.column_dimensions["E"].width = 12

# Save the file
file_name = "Item_Test_Discrimination_Index_Formatted.xlsx"
wb.save(file_name)

print(f"The file '{file_name}' has been created successfully!")

The file 'Item_Test_Discrimination_Index_Formatted.xlsx' has been created successfully!

In [19]:
from openpyxl import Workbook
from openpyxl.styles import Alignment, Font

# Create a new workbook and select the active worksheet
wb = Workbook()
ws = wb.active

# Set the title row
title = "ITEM TEST (DISCRIMINATION INDEX)"
ws.merge_cells("A1:E1")
ws["A1"].value = title
ws["A1"].alignment = Alignment(horizontal="center", vertical="center")
ws["A1"].font = Font(bold=True, size=14)

# Set column headers
headers = ["Sr. No", "UC/LC", "Calculation", "Result", "Status"]
ws.append(headers)

# Align and format headers
for col in range(1, len(headers) + 1):
    cell = ws.cell(row=2, column=col)
    cell.alignment = Alignment(horizontal="center", vertical="center")
    cell.font = Font(bold=True)

# Data to populate the sheet
data = [
    (1, "UC 4/4\nLC 4/4", "1-1=0", 0, "INCLUDE"),
    (2, "UC 4/4\nLC 3/4", "1-0.75=0.25", 0.25, "INCLUDE"),
    (3, "UC 0/4\nLC 1/4", "0.25-0=0.25", 0.25, "DISCARD"),
    (4, "UP 0/4\nLW 1/4", "0.25-0=0.25", 0.25, "DISCARD"),
    (5, "UC 0/4\nLC 0/4", "0-0=0", 0, "INCLUDE"),
    (6, "UC 0/4\nLC 0/4", "0-0=0", 0, "INCLUDE"),
    (7, "UC 2/4\nLC 0/4", "0-0.5=0.5", 0.5, "REVISE"),
    (8, "UC 4/4\nLC 2/4", "1-0.5=0.5", 0.5, "INCLUDE"),
    (9, "UC 2/4\nLC 1/4", "0.25-0.5=0.25", 0.25, "INCLUDE"),
    (10, "UC 2/4\nLC 2/4", "0.5-0.5=0", 0, "INCLUDE"),
    (11, "UC 2/4\nLW 1/4", "0.25-0.5=0.25", 0.25, "REVISE"),
    (12, "UC 2/4\nLC 1/4", "0.25-0.5=0.25", 0.25, "REVISE"),
    (13, "UC 4/4\nLC 0/4", "1-0=1", 1, "INCLUDE"),
    (14, "UC 4/4\nLW 1/4", "1-0.25=0.75", 0.75, "INCLUDE"),
    (15, "UC 2/4\nLC 3/4", "0.75-0.5=0.25", 0.25, "INCLUDE"),
    (16, "UC 3/4\nLW 2/4", "0.5-0.75=0.25", 0.25, "REVISE"),
    (17, "UC 2/4\nLC 2/4", "0.5-0.5=0", 0, "INCLUDE"),
    (18, "UC 2/4\nLC 1/4", "0.25-0.5=0.25", 0.25, "INCLUDE"),
    (19, "UC 1/4\nLC 0/4", "0.25-0=0.25", 0.25, "INCLUDE"),
    (20, "UC 2/4\nLC 1/4", "0.25-0.5=0.25", 0.25, "INCLUDE"),
    (21, "UC 2/4\nLC 3/4", "0.75-0.5=0.25", 0.25, "INCLUDE"),
    (22, "UC 3/4\nLC 4/4", "1-0.75=0.25", 0.25, "INCLUDE"),
    (23, "UC 2/4\nLC 3/4", "0.75-0.5=0.25", 0.25, "INCLUDE"),
    (24, "UC 2/4\nLC 1/4", "0.25-0.5=0.25", 0.25, "INCLUDE"),
    (25, "UC 1/4\nLC 1/4", "0.25-0.25=0", 0, "INCLUDE"),
    (26, "UC 3/4\nLC 0/4", "0-0.75=0.75", 0.75, "INCLUDE"),
    (27, "UC 4/4\nLC 2/4", "1-0.5=0.5", 0.5, "INCLUDE"),
    (28, "UC 3/4\nLC 3/4", "0.75-0.75=0", 0, "INCLUDE"),
    (29, "UC 4/4\nLC 3/4", "1-0.75=0.25", 0.25, "INCLUDE"),
    (30, "UC 2/4\nLC 2/4", "0.5-0.5=0", 0, "INCLUDE"),
    (31, "UC 2/4\nLC 2/4", "0.5-0.5=0", 0, "INCLUDE"),
    (32, "UC 4/4\nLC 1/4", "1-0.25=0.75", 0.75, "INCLUDE"),
    (33, "UC 3/4\nLC 1/4", "0.25-0.75=0.5", 0.5, "REVISE"),
    (34, "UC 3/4\nLC 0/4", "0-0.75=0.75", 0.75, "INCLUDE"),
    (35, "UC 1/4\nLC 1/4", "0.25-0.25=0", 0, "INCLUDE"),
]

# Add data to the sheet
for row_idx, (sr_no, uc_lc, calculation, result, status) in enumerate(data, start=3):
    ws.cell(row=row_idx, column=1, value=sr_no).alignment = Alignment(horizontal="center", vertical="center")
    ws.cell(row=row_idx, column=2, value=uc_lc).alignment = Alignment(horizontal="center", vertical="center", wrap_text=True)
    ws.cell(row=row_idx, column=3, value=calculation).alignment = Alignment(horizontal="center", vertical="center")
    ws.cell(row=row_idx, column=4, value=result).alignment = Alignment(horizontal="center", vertical="center")
    ws.cell(row=row_idx, column=5, value=status).alignment = Alignment(horizontal="center", vertical="center")

# Set column widths for better readability
ws.column_dimensions["A"].width = 8
ws.column_dimensions["B"].width = 15
ws.column_dimensions["C"].width = 20
ws.column_dimensions["D"].width = 10
ws.column_dimensions["E"].width = 12

# Save the file
file_name = "Discrimination_Index.xlsx"
wb.save(file_name)

print(f"The file '{file_name}' has been created successfully!")

The file 'Discrimination_Index.xlsx' has been created successfully!