In [1]:
import pandas as pd
call = pd.read_csv(r"C:\Users\mk744\Downloads\Akshit call id 7 Jan.csv")

In [2]:
import warnings
warnings.filterwarnings('ignore')
# Concatenate the function call string with Unique_Id
call['Concatenated'] = "call add_akshit_amazon_points('" + call['Transaction Id'].astype(str) + "');"
# Display the new column with concatenated results
call_id = call[['Concatenated']]
# ans.to_excel('Akshit_Amazon.xlsx', index=False)
print(call_id.to_string(index=False))
call_id.shape

                              Concatenated
call add_akshit_amazon_points('23256916');
call add_akshit_amazon_points('23257287');
call add_akshit_amazon_points('23257333');
call add_akshit_amazon_points('23257544');
call add_akshit_amazon_points('23257676');
call add_akshit_amazon_points('23257852');

(6, 1)

# EUR

In [32]:
5.669 * 89.34

506.46846

# USD

In [34]:
import math
int(math.ceil(84.71 * 26.4246))

2239

In [39]:
int(math.floor(117.69999999999999*1000))

117699

# SGD

In [29]:
int(math.ceil(63.14 * 14.3457))

906

# MYR

In [14]:
18.96130 * 3.906

74.06283780000001

In [18]:
import math
int(math.ceil(87277.30597 + 3035.07666 + 74.06283780000001 +15093.93))

105481

# zl

In [8]:
import math
int(math.ceil(11.72 * 20.73))

243

In [9]:
import math
int(math.ceil(25629.18 + 36387.2886 + 72852.29419999999+243))

135112

In [11]:
4624.61+214.63+496.51+858.21

6193.96

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {"State":['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware'],
        "Population":[4779736,  710231, 6392017, 2915918, 37253956, 5029196, 3574097, 897934], 
        "Murder_rate":[5.7, 5.6, 4.7, 5.6, 4.4, 2.8, 2.4, 5.8]}

In [3]:
df = pd.DataFrame(data)
df

         State  Population  Murder_rate
0      Alabama     4779736          5.7
1       Alaska      710231          5.6
2      Arizona     6392017          4.7
3     Arkansas     2915918          5.6
4   California    37253956          4.4
5     Colorado     5029196          2.8
6  Connecticut     3574097          2.4
7     Delaware      897934          5.8

In [7]:
Mean = ((df['Population'].mean()))
Mean

7694135.625

In [9]:
Median = df['Population'].median()
Median

4176916.5

In [11]:
from scipy.stats import trim_mean
trim_percentage = 0.1  # 10%
trimmed_mean = trim_mean(df['Population'], proportiontocut=trim_percentage)

trimmed_mean

7694135.625